<header class="sticky-top">
    <nav class="navbar navbar-light bg-primary flex-md-nowrap">
        <a class="navbar-brand text-white">Login System</a>
        <button class="navbar-toggler d-md-none" data-toggle="collapse" data-target="#sidebarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>